// BREAKPOINTS

$breakpoints: (
    'xs': 480px,
    'sm': 600px,
    'med': 900px,
    'large': 1400px,
    'xl': 2000px
);


// MODAL BOX
$modal-color: rgba(19, 19, 19, .95);
$modal-max-width: 800px;
